.esphome
.pio
.vscode
Temporary
secrets.yaml
esp32-custom/src/esphome
esp32-custom/src/esphome.h
build

esp32-custom/test/_deps
esp32-custom/test/CMakeFiles
esp32-custom/test/tests/CMakeFiles
esp32-custom/test/tests/Testing
esp32-custom/test/libGridLib.a
esp32-custom/test/tests/testlib
esp32-custom/test/glow
esp32-custom/test/libGlowLib.a

esp32-custom/test/tests/testgridlib
esp32-custom/test/tests/testchromalib
esp32-custom/test/tests/testspinnerlib
esp32-custom/test/tests/testchromalib
esp32-custom/test/tests/testgridlib
esp32-custom/test/tests/testpropertieslib
esp32-custom/test/tests/testchromalib
esp32-custom/test/tests/testgridlib
esp32-custom/test/tests/testchromalib
