.esphome
.pio
.vscode
Temporary
secrets.yaml
esp32-custom/src/esphome
esp32-custom/src/esphome.h
build

esp32-custom/test/_deps
esp32-custom/test/CMakeFiles
esp32-custom/test/tests/CMakeFiles
esp32-custom/test/tests/Testing
esp32-custom/test/libGridLib.a
esp32-custom/test/glow
esp32-custom/test/libGlowLib.a

esp32-custom/test/tests/test_chroma
esp32-custom/test/tests/test_grid
esp32-custom/test/tests/test_properties
esp32-custom/test/tests/test_spinner
